{% extends "base.html" %}
{% block style_block %}
   
{% endblock %}
{% block body_block %}
	<!-- BEGIN EXAMPLE TABLE PORTLET-->

    <div class="portlet light portlet-fit portlet-datatable bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red sbold uppercase"><i class="fas fa-calculator"></i>Costeos </span>
            </div>
        </div>
        <div class="portlet-body">
            <form method="post">
            	<!---Depreciación --->
            	<input type="hidden" id="mesesId" name="mesesId" value={{depreciacion.Meses}}>
            	<input type="hidden" id="costosUnidadId" name="costosUnidadId" value={{depreciacion.CostosUnidad}}>
            	<input type="hidden" id="costosCajaId" name="costosCajaId" value={{depreciacion.CostosCaja}}>
            	<input type="hidden" id="viajesMesId" name="viajesMesId" value={{depreciacion.ViajesMes}}>
            	<input type="hidden" id="kmsMesXunidadId" name="kmsMesXunidadId" value={{depreciacion.KmsMesXunidad}}>
            	<input type="hidden" id="kmsMaximoId" name="kmsMaximoId" value={{depreciacion.KmsMaximo}}>
            	<input type="hidden" id="depTractoId" name="depTractoId" value={{depreciacion.DepTracto}}>
            	<input type="hidden" id="depCajaId" name="depCajaId" value={{depreciacion.DepCaja}}>
            	<input type="hidden" id="rentaGPSId" name="rentaGPSId" value={{depreciacion.RentaGPS}}>
            	<input type="hidden" id="placasTenenciaId" name="placasTenenciaId" value={{depreciacion.PlacasTenencia}}>
            	<input type="hidden" id="seguroId" name="seguroId" value={{depreciacion.Seguro}}>
            	<input type="hidden" id="admvoId" name="admvoId" value={{depreciacion.Admvo}}>
            	<input type="hidden" id="financierosId" name="financierosId" value={{depreciacion.Financieros}}>
            	<input type="hidden" id="mttoUnidadXkmId" name="mttoUnidadXkmId" value={{depreciacion.MttoUnidadXkm}}>
            	<input type="hidden" id="llantasId" name="llantasId" value={{depreciacion.Llantas}}>
            	<input type="hidden" id="operadorId" name="operadorId" value={{depreciacion.Operador}}>
            	<input type="hidden" id="dobleOpId" name="dobleOpId" value={{depreciacion.DobleOp}}>
            	<!---Factores y premisas --->
            	<input type="hidden" id="unidadId" name="unidadId" value={{FactoresPremisas.Unidad}}>
            	<input type="hidden" id="cajaId" name="cajaId" value="">
            	<input type="hidden" id="kmSencilloId" name="kmSencilloId" value={{FactoresPremisas.KmSencillo}}>
            	<input type="hidden" id="kmRoundTripId" name="kmRoundTripId" value={{FactoresPremisas.KmRoundTrip}}>
            	<input type="hidden" id="kmMensualesId" name="kmMensualesId" value={{FactoresPremisas.KmMensuales}}>
            	<input type="hidden" id="casetaSingleId" name="casetaSingleId" value={{FactoresPremisas.CasetaSingle}}>
            	<input type="hidden" id="rendimiento" name="rendimientoId" value={{FactoresPremisas.Rendimiento}}>
            	<input type="hidden" id="dieselId" name="dieselId" value={{FactoresPremisas.Diesel}}>
            	<input type="hidden" id="dieselSinIvaId" name="dieselSinIvaId" value={{FactoresPremisas.DieselSinIva}}>
            	<!---Costo Operativo Directo Variable --->
            	<input type="hidden" id="CombustibleId" name="CombustibleId" value="">
            	<input type="hidden" id="CasetasId" name="CasetasId" value="">
            	<input type="hidden" id="OperadorId" name="OperadorId" value="">
            	<input type="hidden" id="SubTotalId" name="SubTotalId" value="">
            	<!---Costo Operativo indirecto fijo --->
				<input type="hidden" id="MttoUnidadId" name="MttoUnidadId" value="">
            	<input type="hidden" id="LlantasUnidadId" name="LlantasUnidadId" value="">
            	<input type="hidden" id="GPSId" name="GPSId" value="">
            	<input type="hidden" id="SeguroId" name="SeguroId" value="">
            	<input type="hidden" id="PlacasTenenciaCostId" name="PlacasTenenciaCostId" value="">
            	<input type="hidden" id="SubTotal2Id" name="SubTotal2Id" value="">
            	<!---Costos Admvo & Financiero --->
            	<input type="hidden" id="AdmvoId" name="AdmvoId" value="">
            	<input type="hidden" id="FinancierosId" name="FinancierosId" value="">
            	<input type="hidden" id="DeprUnidadId" name="DeprUnidadId" value="">
            	<input type="hidden" id="DeprRemolqueId" name="DeprRemolqueId" value="">
            	<input type="hidden" id="SubTotal3Id" name="SubTotal3Id" value="">
			    {% csrf_token %}
			    <div class="row">
			        <div class="col-lg-4 col-md-4">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Transportista</label>
			                {{ form.IDTransportista }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Rutas</label>
			                {{ form.IDRuta }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>CP Origen</label>
			                <input type="text" name="tipo" class="form-control tipo" required="" id="id_CPOrig">
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>CP Destino</label>
			                <input type="text" name="tipo" class="form-control tipo" required="" id="id_CPDest">
			            </div>
			        </div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Kilometraje</label>
			                {{ form.Kilometraje }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Viaje</label>
			                {{ form.Tipo }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Producto</label>
			                {{ form.Producto }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Unidad</label>
			                {{ form.IDUnidad }}
			            </div>
			        </div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Total Costos</label>
			                {{ form.TotalCostos }}
			            </div>
			        </div>
			        <div class="col-lg-1 col-md-1">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>%</label>
			                {{ form.MopPor }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Mop</label>
			                {{ form.Mop }}
			            </div>
			        </div>
			        <div class="col-lg-2 col-md-2">
			            <div class="form-group form-md-line-input form-md-floating-label has-error">
			            	<label>Total Transportista</label>
			                {{ form.TotalTransportista }}
			            </div>
			        </div>
			    </div>
			    <div align="right">
			    	<button type="submit" class="btn btn-primary">Guardar</button>
			    </div>
			</form>
			<button class="btn btn-primary" onclick="ocultaPremisas()">Premisas</button>
        </div>
        <div class="container" id="PreimisasHide" style="display: none">
	    	<div class="col-lg-4 col-md-4">
	    		<table class="table table-striped table-bordered table-hover" id="" >
					<thead>
						<tr>
						  <th scope="col">Depreciación</th>
						  <th style="text-align:right; color:blue;" id="tdMeses" onclick="clickcell('tdMeses','mesesId')"></th>
						  <th scope="col">Meses</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>Costo Unidad </td>
						  <td style="text-align:right; color:blue;"  id="tdCostoUnidad" onclick="clickcell('tdCostoUnidad','costosUnidadId')"></td>
						  <td id="tdUnidad"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Costo Caja</td>
						  <td style="text-align:right; color:blue;" onclick="clickcell('tdCostosCaja','costosCajaId')" id="tdCostosCaja"></td>
						  <td id="tdCaja"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Viajes al mes</td>
						  <td style="text-align:right; color:blue;" onclick="clickcell('tdViajesMes','viajesMesId')" id="tdViajesMes"></td>
						  <td id="tdMes"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Kms al mes por unidad</td>
						  <td style="text-align:right; color:blue;" onclick="clickcell('tdKmsMesXunidad','kmsMesXunidadId')" id="tdKmsMesXunidad"></td>
						  <td id="tdKmMes"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>kmsMaximo</td>
						  <td style="text-align:right; color:blue;" onclick="clickcell('tdkmsMaximo','kmsMaximoId')" id="tdkmsMaximo"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered table-hover" id="" >
					<thead>
						<tr>
						  <th scope="col">Factores y Premisas</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>{{FactoresPremisas.Unidad}} Trailer; {{FactoresPremisas.Caja}} Remolque </td>
						  <td style="text-align:right; color:blue;" id="tdKunidad" onclick="clickcell('tdKunidad','unidadId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Km sencillo</td>
						  <td style="text-align:right" id="tdKmSencillo"  ></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Km round trip</td>
						  <td style="text-align:right" id="tdKmRoundTrip" ></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Kms mensuales</td>
						  <td style="text-align:right" id="tdKmMensuales" ></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Casetas single</td>
						  <td style="text-align:right" id="tdCasetaSingle" ></td>
						</tr>
						<tr class="odd gradeX">
						  <td><u>Rendimiento</u></td>
						  <td style="text-align:right; color:blue;" id="tdRendimiento" onclick="clickcell('tdRendimiento','rendimiento')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Diesel</td>
						  <td style="text-align:right" id="tdDiesel"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Diesel sin IVA</td>
						  <td style="text-align:right" id="tdDieselSinIva"></td>
						</tr>
					</tbody>
				</table>
				
	    	</div>
	    	<div class="col-lg-3 col-md-3">
	    		<table class="table table-striped table-bordered table-hover" id="" style="width: 90%">
					<thead>
						<tr>
						  <th scope="col">Facto/ KM Depreciación</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>Dep Tracto </td>
						  <td style="text-align:right" id="depTracto" ></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Dep Caja</td>
						  <td style="text-align:right" id="depCaja" ></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered table-hover" id="" style="width: 70%">
					<tbody>
						<tr class="odd gradeX">
						  <td>Renta GPS</td>
						  <td style="text-align:right; color:blue;" id="tdrentaGPS" onclick="clickcell('tdrentaGPS','rentaGPSId')"></td>
						  <td style="text-align:right" id="tdGPS"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Placas y tenencias</td>
						  <td style="text-align:right; color:blue;" id="tdplacasTenencia" onclick="clickcell('tdplacasTenencia','placasTenenciaId')"></td>
						  <td style="text-align:right" id="tdPlacas"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Seguro</td>
						  <td style="text-align:right; color:blue;" id="tdseguro" onclick="clickcell('tdseguro','seguroId')"></td>
						  <td style="text-align:right" id="tdSegurokm"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Admvo (%)</td>
						  <td style="text-align:right; color:blue;" id="tdAdmvo" onclick="clickcell('tdAdmvo','admvoId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Financieros (%)</td>
						  <td style="text-align:right; color:blue;" id="tdFinancieros" onclick="clickcell('tdFinancieros','financierosId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Mtto unidad por km</td>
						  <td style="text-align:right; color:blue;" id="tdMtto" onclick="clickcell('tdMtto','mttoUnidadXkmId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Llantas</td>
						  <td style="text-align:right; color:blue;" id="tdLlantas" onclick="clickcell('tdLlantas','llantasId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Operador</td>
						  <td style="text-align:right; color:blue;" id="tdOperador" onclick="clickcell('tdOperador','operadorId')"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Doble Operador</td>
						  <td style="text-align:right; color:blue;" id="tdDOperador" onclick="clickcell('tdDOperador','dobleOpId')"></td>
						</tr>
					</tbody>
				</table>
	    	</div>
	    	<div class="col-lg-4 col-md-4">
	    		<table class="table table-striped table-bordered table-hover" id="" >
					<thead>
						<tr>
						  <th scope="col">Costo Operativo Directo Variable</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>Combustible </td>
						  <td style="text-align:right" id="tdCombustible"></td>
						  <td id="tdComb"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Casetas</td>
						  <td style="text-align:right" id="tdCasetas"></td>
						  <td id="tdCast"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Operador</td>
						  <td style="text-align:right" id="tdOperadorOperativo"></td>
						  <td id="tdOper"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>SubTotal</td>
						  <td style="text-align:right" id="tdSubtotal1"></td>
						  <td id="tdsub1"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered table-hover" id="" >
					<thead>
						<tr>
						  <th scope="col">Costo Operativo indirecto fijo</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>Mtto Unidad </td>
						  <td style="text-align:right" id="tdMttoUnidad"></td>
						  <td id="tdMttoUnidadPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Llantas Unidad</td>
						  <td style="text-align:right" id="tdLlantasUnidad"></td>
						  <td id="tdLlantasUnidadPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>GPS</td>
						  <td style="text-align:right" id="tdGPSCostos"></td>
						  <td id="tdGPSCostosPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Seguro</td>
						  <td style="text-align:right" id="tdSeguroCostos"></td>
						  <td id="tdSeguroCostosPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Placas y Tenencia</td>
						  <td style="text-align:right" id="tdPlacasTenencia"></td>
						  <td id="tdPlacasTenenciaPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>SubTotal</td>
						  <td style="text-align:right" id="tdSubTotal2"></td>
						  <td id="tdSubTotal2Por"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered table-hover" id="">
					<thead>
						<tr>
						  <th scope="col">Costos Admvo & Financiero</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd gradeX">
						  <td>Admvo</td>
						  <td style="text-align:right" id="tdAdmvoCostos" ></td>
						  <td id="tdAdmvoCostosPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Financieros</td>
						  <td style="text-align:right" id="tdFinancierosCostos"></td>
						  <td id="tdFinancierosCostosPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Depr. Unidad</td>
						  <td style="text-align:right" id="tdDeprUnidad"></td>
						  <td id="tdDeprUnidadPor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>Depr. Remolque</td>
						  <td style="text-align:right" id="tdDeprRemolque"></td>
						  <td id="tdDeprRemolquePor"></td>
						</tr>
						<tr class="odd gradeX">
						  <td>SubTotal3Id</td>
						  <td style="text-align:right" id="tdSubtotal3"></td>
						  <td id="tdSubtotal3Por"></td>
						</tr>
					</tbody>
				</table>
	    	</div>
		</div>
    </div>                 
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{% block script_block %}
    {% load static %}
    <script type="text/javascript">var transportista="{{costeo.IDTransportista.id}}";var update="{{update}}";var route="";if(update==1){route="{{costeo.IDRuta.id}}"}</script>
    <script src="{% static 'js/Costeo/costeos.js' %}"></script>
{% endblock %}
