{% for cotizacion in cotizacion %}
    {% if cotizacion.Active == 1 %}
        <tr class="odd gradeX">
        <td><a href="#" onclick="viewCosteo({{cotizacion.id}})"><i class="fas fa-search"></i></a>
            <a href="/costeo/updateCosteo/{{cotizacion.id}}"><i class="fas fa-wrench"></i></a></td>
            <td>{{cotizacion.IDTransportista}}</td>
            <td>{{cotizacion.Kilometraje}}</td>
            <td>{{cotizacion.Tipo}}</td>
            <td>{{cotizacion.TotalCostos}}</td>
            <td>{{cotizacion.MopPor}}</td>
            <td>{{cotizacion.Mop}}</td>
            <td>{{cotizacion.TotalTransportista}}</td>
        </tr>
    {%endif%}
{%endfor%}