    <div class="modal-header" style=" background-color: rgb(66, 108, 140);">
    </div>
    <div class="modal-body">
        <div class="container" style="width: 100%; padding-left: 60px;">
            <h2>Agregar Equipo</h2>
           
            <form method="post" action="{% url 'availability:create' %}" class="js-book-create-form">
                {% csrf_token %}
                
                {% include 'partialEquipo.html' %}
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <div align="right">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
            </div>
        </div>
    </div>