<div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="form-group form-md-line-input form-md-floating-label has-error">
            <label>Transportista</label>
            {{ form.Carrier }}
        </div>
    </div>
    <div class="col-lg-5 col-md-5">
        <div class="form-group form-md-line-input form-md-floating-label has-error">
            <label>Rutas</label>
            {{ form.Rutas }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="form-group form-md-line-input form-md-floating-label has-error">
            {{ form.NoUnidades }}
        </div>
    </div>
</div>
{% block scriptextra_block %}
    {% load static %}
    <script src="{% static 'js/Availability/Loadcarrier.js' %}"></script>

{% endblock%}