{% for equipo in equipo %}
    <tr class="odd gradeX">
        <td>{% if user.is_authenticated %}{% if user.roles == "administrator" %}<a><i class="fas fa-search"></i></a>&nbsp;<a href="#" class="js-update-book"
              data-url="{% url 'availability:update' equipo.IDEquipodisponible %}"><i class="fas fa-wrench"></i></a>&nbsp;<a href="#" class="js-delete-book" data-url="{% url 'availability:delete' equipo.IDEquipodisponible %}" ><i class="far fa-trash-alt"></i></a>{% endif %}{% endif %}</td>
        <td>{{equipo.Carrier}}</td>
        <td>{{equipo.rutas }}</td>
        <td>{{equipo.NoUnidades}}</td>
        <td>Disponibles:{{equipo.Disponibles}} Ocupado:{{equipo.Ocupado}}</td>
        <td><a href="#" class="btnUpdateCarriers" onclick="LoadCarrierForm('updateCarrier/{{equipo.IDEquipodisponible}}')" data-url="{% url 'availability:updateCarrier' equipo.IDEquipodisponible %}"><i class="fas fa-shipping-fast"></i></a></th></td>
    </tr>
{%endfor%}


