{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
{% endblock %}
{% block body_block %}
<div class="modal-body">
<div class="" style=" padding-left: 80px; width: 80%;">

                <h3>Update Routes</h3>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Carriers</label>
                                    <select class="form-control" id="form_control_1">
                                        {% for carrier in carriers %}
                                            <option value="{{carrier.id}}">{{carrier}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Nombre Ruta</label>
                                    {{ form.NombreRuta }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>CP. Origen</label>
                                    {{ form.CPOrigen }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>CP. Destino</label>
                                    {{ form.CPDestino }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Ciudad Origen</label>
                                    {{ form.CiudadOrigen }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Ciudad Destino</label>
                                    {{ form.CiudadDestino }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Estado Origen</label>
                                    {{ form.EstadoOrigen }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Estado Destino</label>
                                    {{ form.EstadoDestino }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <label>Kilometros</label>
                                    {{ form.Kilometros }}
                                </div>
                            </div>

                        </div>
                        
                        {% if user.is_authenticated %}{% if user.roles == "administrator" %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {%endif%}{%endif%}
                    </form>
                </div>
            </div>
{% endblock %}
{% block script_block %}
    {% load static %}
    <script src="{% static 'js/codigosCP.js' %}"></script>
{% endblock %}