{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
{% endblock %}
{% block body_block %}
                <div class="modal-body" style="padding-left: 80px; width: 70%;">

                <h2>Alta Transportista</h2>
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        {% if error == "Transportista with this Email already exists." %}
                            <div class="alert alert-danger">
                                <strong>Correo no Valido.</strong>
                            </div>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.RazonSocial }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.NombreComercial }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.Email }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.Telefonos }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.NombreContacto }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.PaginaWeb }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    {{ form.BaseTerminal }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.CP }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.NumExt }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.NumInt }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.Calle }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group form-md-line-input">
                                    {{ form.Colonia }}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.Ciudad }}

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{ form.Estado }}
                                </div>
                            </div>
                        </div>
                        
                        <br> 
                        <div class="form-group" style="width: 150px;">
                            {{ form.Credito }}
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                    <div align="right">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
                    </div>
                </div>

{% endblock %}
{% block script_block %}
    {% load static %}
    <script src="{% static 'js/codigosCP.js' %}"></script>
{% endblock %}