{% for equipo in equipo %}
    <tr class="odd gradeX">
        <td><a href="#" onclick="UpdateUnitType({{unit.id}})"><i class="fas fa-search"></i></a>&nbsp;<a href="../unitUpdate/{{unit.id }}/"><i class="fas fa-wrench"></i></a>&nbsp;<a href="../unitDelete/{{unit.id}}/"><i class="far fa-trash-alt" style="color: red;"></i></a></td>
        <td>{{unit.id}}</td>
        <td>{{unit.Nombre}}</td>
        <td>{{unit.Capacidad}}</td>
        <td>{{unit.Medidas}}</td>
        <td>{{unit.Configuraciones}}</td>
    </tr>
{%endfor%}

