    <div class="modal-header" style=" background-color: rgb(66, 108, 140);">
    </div>
    <div class="modal-body">
        <div class="container" style="width: 100%; padding-left: 60px;">
            <h2>Agregar Rutas</h2>

            <form method="post" action="AddRutas/{{carrierid }}/" class="js-book-create-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label has-error">
                            {{ form.IDRutas }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label has-error">
                            <a href="{% url 'Rutas:routes' %}" class="btn btn-info"> Nuevo</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            <div align="right">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
            </div>
        </div>
    </div>
    <script>
        $.ajax({
            type: 'GET',
            url: "getRutaAll",
            success: function (data) {
                var ruta= document.getElementById('id_IDRutas');
                $(ruta).empty();
                $(ruta).append($('<option>').text("Select").attr('value', ''));
                $.each(data, function (i, value) {
                    $(ruta).append($('<option>').text(value.fields.NombreRuta).attr('value', value.pk));
                });
            },

        });
    </script>