{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
{% endblock %}
{% block body_block %}
<div class="modal-body">
<div class="" style=" padding-left: 80px; width: fit-content;">
        <h2>Tractos</h2>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Nombre }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Combustible }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Performance }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Volumen }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Peso }}
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Longitud }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        {{ form.Ancho }}
                    </div>
                </div>
                
                
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                    <div class="pretty p-icon p-round p-pulse">
                        {{ form.FullUnit }}
                        <div class="state p-success">
                            <i class="icon mdi mdi-check"></i>
                            <label>Full Unit</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="pretty p-icon p-round p-pulse">
                        {{ form.Special }}
                        <div class="state p-success">
                            <i class="icon mdi mdi-check"></i>
                            <label>Special</label>
                        </div>
                    </div>
                </div>
            </div><br>
            
            
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}
{% block script_block %}
    {% load static %}
    <script src="{% static 'js/codigosCP.js' %}"></script>
{% endblock %}